<!--
<fieldset>
  <legend>No role assignees</legend>
  <p>
    <%= select_tag 'issue[assigned_user_ids][]',
                   options_from_collection_for_select(User.all, 'id', 'name',
                                                      @issue.assigned_users.pluck(:id)),
                   multiple: true, size: 10 %>
  </p>
</fieldset>

-->